<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MultiRisWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="MSSqlServerSettingsSection" type="Serilog.Configuration.MSSqlServerConfigurationSection, Serilog.Sinks.MSSqlServer"/>
  </configSections>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <connectionStrings>
    <add name="CN_RISPACS" connectionString="server=DESKTOP-QBH4PT8\MSSQLSERVER2019;database=DBMULTIRIS_INTERCLINICA;Integrated Security=true;Timeout=40"/>
  </connectionStrings>
  <appSettings>
    <add key="emailto" value="SolicitudesMedicas@amis-rx.cl"/>
    <add key="emailfrom" value="SolicitudesMedicas@amis-rx.cl"/>
    <add key="emailname" value="Informa Estado Solicitud"/>
    <add key="emailpass" value="Amis.2023"/>
    <add key="urlris" value="https://riscloud.clinicatarapaca.cl/MULTIRISWEB/Web/Examen/ListaExamen.aspx"/>
    <add key="Verde" value="24"/>
    <add key="Amarillo" value="50"/>
    <add key="Rojo" value="99"/>
    <add key="Gris" value="100"/>
    <add key="urlFirma" value="https://riscloud.clinicatarapaca.cl/MULTIRISWEB/Web/Firmas/"/>
    <add key="FlagEnvioServicioWS" value="Si"/>
    <add key="ActivarWSAPISalida" value="1"/>
    <add key="EnviaMailSoporte" value="0"/>
    <!-- Si (Envia a Hosting) , No (No envía a Hosting) -->
    <add key="CN_RISPACS2" value="server=DESKTOP-QBH4PT8\MSSQLSERVER2019;database=DBMULTIRIS_INTERCLINICA;Integrated Security=true;Timeout=40"/>
    <add key="serilog:using:MSSqlServer" value="Serilog.Sinks.MSSqlServer"/>
    <!-- LogEventLevel enumeration: Verbose, Debug, Information, Warning, Error, Fatal -->
    <add key="serilog:minimum-level" value="Information"/>
    <add key="serilog:write-to:MSSqlServer.connectionString" value="server=DESKTOP-QBH4PT8\MSSQLSERVER2019;database=DBMULTIRIS_INTERCLINICA;Integrated Security=true;Timeout=40"/>
    <add key="serilog:write-to:MSSqlServer.tableName" value="LogsApp_Multirisweb"/>
    <add key="serilog:write-to:MSSqlServer.autoCreateSqlTable" value="true"/>
    <add key="correoFrom" value="soporte@notificacioncritica.cl"/>
    <add key="correoTo" value="soporte@irad.cl"/>
    <add key="correoContraseña" value="LQMEu%EnDY3Z"/>
    <add key="Informemultiris" value="C:\Irad\MultiRisWeb\Webrepository\EAD\"/>
    <add key="EnCatalogacion" value="0"/>
    <add key="DiasCaducidadClave" value="60"/>
    <add key="Host" value="https://localhost:44348/"/>
    <add key="HostApp" value="https://localhost:44348/"/>
    <!-- Credenciales FTP -->
    <add key="FTPIPChat" value="190.196.143.123"/>
    <add key="FTPUSERChat" value="usuarioftp"/>
    <add key="FTPPASSChat" value=".irad2024."/>
    <add key="TimeBloqueo" value="10"/>
    <!-- Credenciales WS Codelco -->
    <add key="UserWsCodelco" value="adminCodelco"/>
    <add key="PassWsCodelco" value="DFGtyh456WWs"/>
  </appSettings>
  <MSSqlServerSettingsSection>
    <RemoveStandardColumns>
      <remove Name="Properties"/>
    </RemoveStandardColumns>
  </MSSqlServerSettingsSection>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <sessionState timeout="60" mode="InProc" cookieless="true"/>
    <compilation targetFramework="4.7" debug="true"/>
    <httpRuntime requestValidationMode="2.0" enableVersionHeader="false" executionTimeout="50"/>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="Static"/>
    <customErrors mode="Off"/>
  </system.web>
  <applicationSettings>
    <MultiRisWeb.Properties.Settings>          
      <setting name="MultiRisWeb_WsCordillera_ServiceMultiris" serializeAs="String">
        <value>https://riscloud.nuevaclinicacordillera.cl/MULTIRISWEBWS/ServiceMultiris.asmx</value>
      </setting>
    </MultiRisWeb.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.3.0.0" newVersion="5.3.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>  
</configuration>
<!--ProjectGuid: 28C815BF-3737-42CC-99E0-BD390BBB0C4A-->