@font-face {
    font-family: "AvenirRoman";
    src: url("../fonts/AvenirRoman.otf") format("opentype");
  }

  body{
    font-family: 'AvenirRoman';
    font-weight: 200;
    color: #2B295D;
    //background-color: #444748;
  }
  a{
   color: #2B295D;
   font-weight: bold;
 }
 p{
  line-height: 0.2;
}
#calendar{
  color: white !important;
}
.boton-nav{
  display: inline-block;
}
.nav-seleccionado-background{
  width: 150px; height: 40px; background: #F07D00;
}
.nav-seleccionado-detalle{
  width: 40px; border-bottom: 40px solid #F07D00; border-right: 25px solid transparent;
}
.nav-no-seleccionado-background{
  width: 150px; height: 40px; background: #362E5F;
}
.nav-no-seleccionado-detalle{
  width: 40px; border-bottom: 40px solid #2E2E64; border-right: 25px solid transparent;
}


.temporalidad-seleccionado-background{
  width: 80px !important; height: 30px; background: #F39555;
}
.temporalidad-seleccionado-detalle{
  width: 80px; border-bottom: 30px solid #F39555; border-right: 25px solid transparent;
}
.temporalidad-no-seleccionado-background{
  width: 60px; height: 30px; background: #868686;
}
.temporalidad-no-seleccionado-background:hover{
  background: #red; cursor: pointer;
}
.temporalidad-no-seleccionado-detalle{
  width: 60px; border-bottom: 30px solid #868686; border-right: 25px solid transparent;
}
.nav-icono{
  position: absolute; height: inherit; width: inherit; transform: scale(0.6);
}
.nav-titulo{
  color: white; margin-top: 20px; margin-left: 35px; position: absolute; font-size: 10px;
}
.temporalidad-titulo{
  color: white; margin-top: 30px; margin-left: 20px; position: absolute; text-align: center;
}
.tui-full-calendar-layout.tui-view-25{
  background-color: white !important;
}
.tui-full-calendar-timegrid-timezone{
  background-color: white !important;
}
.card-body{
  background-color: white;
  color: #2B295D;
}
.col {
    background-color: #F4F4F4 !important;
}
.tui-full-calendar-popup-container{
  color: white !important;
  background-color: #868686;
}
span.tui-full-calendar-schedule-title {
  color: white !important;
}  
span.tui-full-calendar-content{
  color: white !important;
}
span.tui-full-calendar-weekday-grid-date.tui-full-calendar-weekday-grid-date-decorator{
  background-color: #F07D00 !important;
}
span{
  color: #2B295D !important;
}

span.checkmark {
    border-color: #00A1DF !important;
    border-width: 3px;
}

.nav-seleccionado-background{
    width: 200px; height: 60px; background: #4A96D2;
  }
  .nav-seleccionado-detalle{
    width: 70px; border-bottom: 60px solid #1558AC; border-right: 25px solid transparent;
  }
  .nav-no-seleccionado-background{
    width: 200px; height: 60px; background: #413D6F;
  }
  .nav-no-seleccionado-detalle{
    width: 70px; border-bottom: 60px solid #2E2E64; border-right: 25px solid transparent;
  }
  .temporalidad-seleccionado-background{
    width: 100px !important; height: 30px; background: #005F9F;
  }
  .temporalidad-seleccionado-detalle{
    width: 70px; border-bottom: 30px solid #123D6E; border-right: 25px solid transparent;
  }
  .temporalidad-no-seleccionado-background{
    width: 100px; height: 30px; background: #BABABA;
  }
  .temporalidad-no-seleccionado-background:hover{
    background: #red; cursor: pointer;
  }
  .temporalidad-no-seleccionado-detalle{
    width: 70px; border-bottom: 30px solid #9E9E9E; border-right: 25px solid transparent;
  }
  .nav-icono{
    position: absolute; height: inherit; width: inherit; transform: scale(0.6); margin-left: -10px;
  }
  .nav-titulo{
    color: white; margin-top: 30px; margin-left: 60px; position: absolute;
  }
  .temporalidad-titulo{
    color: white; margin-top: 30px; margin-left: 40px; position: absolute;
  }


/* radio buttons */
.radio-container > .radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-container > .radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: transparent;
    border-color: #fff;
    border: 1px;
    border-style: solid;
}
  
.radio-container > .radio:hover input ~ .checkmark {
  background-color: #ccc;
}

.radio-container > .radio input:checked ~ .checkmark {
  background-color: #00A1DF;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container > .radio input:checked ~ .checkmark:after {
  display: block;
}

.radio-container > .radio .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
}



/* modal agendar hora */

.dark-modal-agendar > .modal-dialog > .modal-content > .modal-body {
  background-color: #676C6F;
}

.dark-modal-agendar > .modal-dialog > .modal-content > .modal-body > .agendar-options {
  margin-top: 10pt;
  margin-bottom: 10pt;
}

.dark-modal-agendar > .modal-dialog > .modal-content > .modal-body > .agendar-options > label{
  margin-left: 15pt;
  margin-right: 15pt;
}

.dark-modal-agendar > .modal-dialog > .modal-content > .modal-body > .formulario {
  padding-bottom: 20pt;
}

.dark-modal-agendar > .modal-dialog > .modal-content > .modal-body > .formulario > div > .input-container {
  margin-bottom: 10px;
}

.dark-modal-agendar > .modal-dialog > .modal-content > .modal-body > .formulario > div > .input-container > label {
  width: 25%;
  display: inline-block;
}

.dark-modal-agendar > .modal-dialog > .modal-content > .modal-body > .formulario > div > .input-container > .form-control {
  width: 70%;
  display: inline-block;
  background-color: #CECECE;
  border: 0;
  border-radius: 0;
  height: 21pt;
  font-size: 10pt;
  border-radius: 6px;
}

.dark-modal-agendar > .modal-dialog > .modal-content > .modal-body > .formulario > div > div > div > .btn-formulario {
  border-radius: 0px;
  background-color: #9F9F9F;
  color: #fff;
  height: 20pt;
  padding-top: 1pt;
  padding-bottom: 1pt;
  border:0;
}

.dark-modal-agendar > .modal-dialog > .modal-content > .modal-body > .formulario > .btns-form {
  margin-top: 10pt;
}

.dark-modal-agendar > .modal-dialog > .modal-content > .modal-body > .formulario > .btns-form > .btn-formulario-sub {
  margin-left: 20pt;
  border-radius: 0;
  background-color: #F07D00;
  color: #fff;
  border: 0;
  font-size: 10pt;
}

.dark-modal-agendar > .modal-dialog > .modal-content > .modal-body > .formulario > .btns-form > .btn-formulario-cancel {
  margin-left: 20pt;
  border-radius: 0;
  background-color: #9F9F9F;
  color: #fff;
  border: 0;
  font-size: 10pt;
}

/* barra calendario */
.dark-top-calendar-bar {
  /*margin-top: 30pt;*/
}

.dark-top-calendar-bar > .nav-calendar-right {
  float: right;
  margin-right: 20px;
}

.dark-top-calendar-bar > .nav-calendar-left {
  float: left;
  margin-right: 20px;
}

.dark-top-calendar-bar > .nav-calendar-left > .btn-agendar {
  border: 0;
  border-radius: 0;
  background-color: #56ABB4;
  color: #fff;
  font-size: 10px;
}

.dark-top-calendar-bar > .nav-calendar-left > .btn-agendar > img {
  display: inline-block;
  height: 22px;
  margin-top: -6px;
}
